{% extends 'layout.html' %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/admin-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage your posts here</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <h1>Basic Actions</h1>
    </div>
    <div class="row">
      <div>
        <a href="/edit/0"><button class="btn btn-primary">Add New Post</button></a>
        <a href="/logout"><button class="btn btn-primary">Logout</button></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <h1>Upload A File</h1>
    </div>
    <div class="row">
      <form method="POST" action="/uploader" enctype="multipart/form-data">
        <input type='file' name='file'>
        <input type='submit' class='btn btn-primary' value='Submit'>
      </form>
    </div>
    <hr>
    <div class="row">
      <h1>Edit/Delete Posts</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Sno</th>
            <th>Title</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <td>{{ post.sno }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.date }}</td>
            <td><a href="/edit/{{ post.sno }}"><button class="btn btn-primary">Edit</button></a></td>
            <td><button class="btn btn-primary">Delete</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>



      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p> -->
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        
      </div>
    </div>
  </div>

{% endblock %}